.primera{
    align-items: center;

}
.contenedor{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 16px;
    }
.carruselExample{
    border: 5px ;
    height: 150px;
    width: 200px;
}

.logo{
    background-image: url('logo.jpeg');
}

body{
    background-color: beige;
}

.contenedor2{
    display: flex;
    justify-content:center;
    flex-wrap:wrap;
    gap: 16px;
    }

